*.pyc
*.pyo
~*
*.swp

*.egg-info

pokedex.sqlite
pokedex.sqlite-journal
whoosh-index
pip-selfcheck.json

/bin
!/bin/edit-csv-as-yaml
!/bin/poupdate
!/bin/reset-postgresql-sequences
!/bin/docker-pokedex
/local
/lib
/include

.idea
