language: python
python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"
    - "3.7"
    - "pypy"
    - "pypy3"

install: pip install -e .
before_script: pokedex setup -v
script:
    - py.test
    - pokedex dump -l all
sudo: false
